__pycache__/
*.py[cod]
*.pyo
*.pyd

*.pyc
*.log
*.json
*.service
.cache/

.venv/
venv/
env/

.pytest_cache/
.mypy_cache/

logs/

monitor_core/backups/
ina_sensor_monitor/backups/
victron/backups/
mppt/backups/

.DS_Store
